<h1> Hello </h1>
<h2> Thank you for registering at Kite!</h2>
<h2> Your account is now activated! Confirm on this</h2><h2><a href="http:localhost:3000/users/confirmation?confirmation_token=<%= @token%>">link</a></h2>